# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

AKIA47GCADF7HRPDGPOK
PzzqRhNV8V5jrI0/w6w9Sn7i0Y3K7l3fWxa2Kuzu

# Other files and folders
.settings/



# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

a
