# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/


AKIA47GCADF7OGDS5II7

15VHi4bna+VwlOkctsCRTDT/UE43IliQ+ThiRlwp


# Other files and folders
.settings/



# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

a
