# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

AKIA47GCADF7A6L52L74

# Other files and folders
TDGXfnXapCPNi2+7cTCAvdB1iJHO2owZI8Rxb2cF
.settings/


# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

a
